/*region EveryPage */
body{
    background-color: rgb(186, 205, 176);
    color: #ffffff;
}
/* endregion */
/* region NavBar */
nav ul{
    display:flex;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    z-index:10;}
nav li {
    list-style: none;
    min-width: 200px;
    background-color: rgb(71, 91, 99);
    color: #ffffff;
    margin: 0;
    flex: 1;
    text-align: center;
    display: flex;
    position:relative;
}
nav a, nav a:visited{
    text-decoration:none;
    width:100%;
    padding:8px 0;
    color: #fffffe;
}
.dropdown-content{
    position:absolute;
    top:37px;
    width:100%;
    display:none;
    z-index:20;
}
nav li:hover .dropdown-content{
    display:block;
}
.dropdown-content a{
    font-weight:bold;
}
.dropdown-content ul{
    flex-direction:column;
}
nav a:hover{
    color: #04e6ee;
    background-color: rgb(255, 255, 255);
}
/* endregion */
/* region indexCSS */
.showcase{
    border-top: #012f49 solid 10px;
    padding: 20px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR42ChAXDYpX--8ggMmXuTsHzWvksXswN_QvQ&usqp=CAU);
    background-repeat: repeat;
}
.gallery{
    position:relative;
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    margin: 10px auto;
    max-width:55%;
}
.words{
    border: rgb(71, 91, 99) solid 5px;
    background: gray;
    color: #ffffff;
    padding:10px;
    text-align:center;
    position:relative;
    display:flex;
    flex-direction:column;
    max-width:45%;
    margin-right:5%;
    margin-left:5%;
}
.bigBox{
    background-color:rgb(186, 205, 176);
    display: flex;
    justify-content:center;
    width:100%;
}
.calendar{
    border-top: #012f49 solid 10px;
    background-color:rgb(186, 205, 176);
    margin-top:100px;
    margin-bottom:100px;
}
#calendarTable{
    margin-left:25%;
    margin-right:25%;
    background-color: rgb(71, 91, 99);
    height:500px;
    width:50%;
}
#legend{
    margin-left:33%;
    margin-right:33%;
    background-color: rgb(71, 91, 99);
    height:40px;
    width:33%;
}
tr{
    margin:10px;
}
td{
    margin:10px;
    border: rgb(46, 44, 47) solid 2px;
}
h2{
    display:flex;
    justify-content:center;
    font-size: 40px;
}
.past{
    background-color: gray;
}
.today{
    background-color:lightblue;
}
.available{
    background-color:rgb(186, 205, 176);
}
.unavailable{
    background-color:gray;
}
.filler-space{
    height:40px;
}
/* endregion */
/* region orderForm */
label {
    display: block;
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 14px;
    color: #012f49;
}

input[type="text"], textarea, select{
    font-size: .875rem;
    line-height: 1.25rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 8px 12px;
    margin-bottom: 12px;
    color: #012f49;
}
fieldset{
    border: 1px solid #012f49;
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 12px;
    color: #012f49;
}


fieldset legend{
    font-size: 14px;
    color: #ffffff;
}
input[type="checkbox"]{
    display: inline-block;
}

input[type="checkbox"] ~ label, input[type="radio"] ~ label {
    display: inline;
}
form{
    display:flex;
    flex-direction:column;
    max-width:33%
}
/* endregion */